$active: paleturquoise;
$bg_color: ghostwhite;
$border_color: #010;
$fg_color: #444;
$highlight_color: palegreen;
$shadow_color: silver;
$scroll_color: $bg_color;
$thumb_color: darkturquoise;
$track_color: $thumb_color;
