@import "../vars/colors.scss";
@import "../vars/sizes.scss";
.track {
  background-color: $track_color;
  border-radius: $track_height;
  height: $track_height;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.animate-track {
  background: $shadow_color;
  height: 100%;
  position: absolute;
  left: 0;
  pointer-events: none;
  top: 0;
  transform: translateX(0%);
  width: 100%;
}
input[type="range"]::-webkit-slider-thumb {
  height: $track_height;
  width: $track_height;
}
