@import './colors.scss';
nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  button {
    background: transparent;
    border: none;
    border: 2px solid $fg_color;
    padding: 0.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      background: linear-gradient($active,$highlight_color);
    }
  }
}
