.player {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 20vh;
}
.duration-display {
  align-items: center;
  justify-content: center;
  gap: 1rem;
  display: flex;
  width: 50%;
}
p {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.play-control {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 30%;
  svg {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .duration-display {
    width: 90%;
  }
  .play-control {
    width: 60%;
  }
}

@import "./partials/range-unstyle";
@import "./partials/range-track";
