.player {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 20vh;
}
.duration-display {
  display: flex;
  width: 50%;
  input {
    padding: 1rem 2rem;
    width: 100%;
  }
  input[type="range"] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    &:focus {
      outline: none; /* Removes the blue border */
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }
    &::-ms-track {
      width: 100%;
      cursor: pointer;

      /* Hides the slider so custom styles can be added */
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
  }
  p {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
.play-control {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 30%;
  svg {
    cursor: pointer;
  }
}
