.song-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40vh;
  h2 {
    padding-top: 0.75rem;
  }
  h3 {
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
  }
  img {
    border-radius: 50%;
    width: 25%;
  }
}
@media screen and (max-width: 76px) {
  .song-container {
    img {
      width: 200px;
    }
  }
}
@media screen and (max-width: 320px) {
  .song-container {
    img {
      width: 100px;
    }
  }
}
