.song-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
  h2 {
    padding: 1rem;
  }
  h3 {
    font-size: 1rem;
  }
  img {
    border-radius: 50%;
    width: 20%;
  }
}
