@import "./vars/colors.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: $fg_color;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-family: "Special Elite", cursive;
  font-size: 2.5rem;
}
.App {
  transition: all 0.5s ease;
}
.library-active {
  margin-left: 20%;
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.75rem;
  }
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
